@import "tailwindcss";

/* 1. VARIABLES */
:root {
  --color-secondary: #3dff16;       
  --color-secondary-dark: #359c35;
  
  /* COLOR TIERRA para las tarjetas */
  --color-earth-surface: #EBE5D9; 
  --color-earth-text: #44403C;
}

/* --- ¡AQUÍ ESTÁ LA MAGIA! --- */
/* Esto hace que al hacer clic en el botón, baje deslizando suavemente */
html {
  scroll-behavior: smooth;
}
/* ----------------------------- */

@theme {
  --color-secondary: var(--color-secondary);
  --color-secondary-dark: var(--color-secondary-dark);
}

@variant dark (&:where(.dark, .dark *));

/* 2. BODY Y FONDO */
body {
  font-family: system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  
  /* IMPORTANTE: Transparente para que se vea el #page-background de abajo */
  background-color: transparent; 
  
  /* Color de texto base */
  color: #333;
  transition: color 0.3s ease;
}

@keyframes shine {
  100% { transform: translateX(100%); }
}

:root.dark body {
  /* Color de texto en modo noche (Blanco suave, no rojo) */
  color: #e5e5e5;
}

/* 3. IMAGEN DE FONDO (LIMPIA, SIN TAPAR) */
#page-background {
  position: fixed;
  inset: 0;
  z-index: -10; /* Detrás de todo */
  pointer-events: none;
  
  /* Imagen Día */
  background-image: url('/images/dia.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  
  /* Opacidad al 100% para ver las montañas claras */
  opacity: 1; 
}

:root.dark #page-background {
  /* Imagen Noche */
  background-image: url('/images/noche.png');
  opacity: 1; 
}